<div class="row">
  <video autoplay id="loop-video-bg" loop muted>
    <source src="<%= video_path('Agua-natural.mp4')%>" tye="video/mp4">
    <source src="<%= video_path('Agua-natural.webm')%>" tye="video/webm">
  </video>
  <div class="col-xs-12 text-center content">
    <h1>Alex Howington</h1>
    <h2>I am a person</h2>
  </div>
</div>
